.ul_hidden{
    display: none;
}
.pagenum{
    border-bottom: 1px solid;
}
.current{
    background: gray;
    margin: 1px 1px;
    border: 1px solid;
    color: white;
}
.page-new{
    float:right;
    margin-right:3%;
    font-size:16px;
    color:#666;
    position: relative;
    margin-top: 5px;
}
.fitem{
    padding: 1px 1px 1px 10px !important;
}
.fa, .fas{font-weight: normal !important;}
.fa-file-download:before {
    content: "\f56d";
}
.formRow2 {
    padding: 5px 10px;
    /* text-align: center; */
    clear: both;
    border-bottom: 1px solid #E2E2E2;
    border-top: 1px solid white;
    position: relative;
}
.formRow2 .formRight {
    display: block;
    float: right;
    width: 80%;
    margin-right: 18px;
}

/* 弹窗 (background) */
.modal {
    display: none; /* 默认隐藏 */
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* 弹窗内容 */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* 添加动画 */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* 关闭按钮 */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
select{
    width: 156px;
}
.expent{
    display: none;
}
.income{
    display: none;
}
.rent_show{
    display: none;
}
.project_show{
    display: none;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    overflow: auto;
}
.tag1 {
    float: left;
    width: calc(100% /3 - 10px);
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
    position: relative;
    padding-left: 12px;
    margin-bottom: 10px;
}
.box_show1{
    display: block;
}
.box_show2{
    display: none;
}

.left_size{
    width: 30%;
}
.center_size{
    width: 40%;
}
.right_size{
    width: 30%;
}
.btn_right{
    float: right
}
.mbtn{
    background: #033c76;
    color: white;
}
.sousuo{
    height:24px;
    padding-bottom:0px;
    line-height:23px;
    color:#ab70e1;
    background:none;
    border: 1px solid #ab70e1;
    display: inline-block;
    padding: 0 5px;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    opacity: .9;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
    position:relative;
}
@media (max-width: 767px) {
    .head {
        height:105px!important;
        background: url(../images/head_bg.png) no-repeat center center!important;
        position: relative!important
    }
    .head h1 {
        font-size: 25px!important;
    }
    .tag1{
        flex: 1;
        width: 100%!important;
        font-size: 15px;
    }
    .container {
        flex-direction: column;
    }
    .weather{
        top:40px!important;
    }
    .left_size{
        width: 100%!important;
    }
    .center_size{
        width: 100%!important;
    }
    .right_size{
        width: 100%!important;
    }
    .head h1 {
        font-size: 15px!important;
    }
    .titAmount{
        margin-left: 5px!important;
    }
    .time{
        top: 30% !important;
    }
    .tit{
        font-size: 12px!important;
    }

}