<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <title>沙磁文旅</title>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/style_sc.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="js/jquery.min.js"></script>

    <script type="text/javascript" src="js/plugins/spinner/ui.spinner.js"></script>
    <script type="text/javascript" src="js/plugins/spinner/jquery.mousewheel.js"></script>

    <script type="text/javascript" src="js/jquery-ui.min.js"></script>

    <script type="text/javascript" src="js/plugins/charts/excanvas.min.js"></script>
    <script type="text/javascript" src="js/plugins/charts/jquery.flot.js"></script>
    <script type="text/javascript" src="js/plugins/charts/jquery.flot.orderBars.js"></script>
    <script type="text/javascript" src="js/plugins/charts/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="js/plugins/charts/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="js/plugins/charts/jquery.sparkline.min.js"></script>

    <script type="text/javascript" src="js/plugins/forms/uniform.js"></script>
    <script type="text/javascript" src="js/plugins/forms/jquery.cleditor.js"></script>
    <script type="text/javascript" src="js/plugins/forms/jquery.validationEngine-en.js"></script>
    <script type="text/javascript" src="js/plugins/forms/jquery.validationEngine.js"></script>
    <script type="text/javascript" src="js/plugins/forms/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="js/plugins/forms/autogrowtextarea.js"></script>
    <script type="text/javascript" src="js/plugins/forms/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="js/plugins/forms/jquery.dualListBox.js"></script>
    <script type="text/javascript" src="js/plugins/forms/jquery.inputlimiter.min.js"></script>
    <script type="text/javascript" src="js/plugins/forms/chosen.jquery.min.js"></script>

    <script type="text/javascript" src="js/plugins/wizard/jquery.form.js"></script>
    <script type="text/javascript" src="js/plugins/wizard/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/plugins/wizard/jquery.form.wizard.js"></script>

    <script type="text/javascript" src="js/plugins/uploader/plupload.js"></script>
    <script type="text/javascript" src="js/plugins/uploader/plupload.html5.js"></script>
    <script type="text/javascript" src="js/plugins/uploader/plupload.html4.js"></script>
    <script type="text/javascript" src="js/plugins/uploader/jquery.plupload.queue.js"></script>

    <script type="text/javascript" src="js/plugins/tables/datatable.js"></script>
    <script type="text/javascript" src="js/plugins/tables/tablesort.min.js"></script>
    <script type="text/javascript" src="js/plugins/tables/resizable.min.js"></script>

    <script type="text/javascript" src="js/plugins/ui/jquery.tipsy.js"></script>
    <script type="text/javascript" src="js/plugins/ui/jquery.collapsible.min.js"></script>
    <script type="text/javascript" src="js/plugins/ui/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/plugins/ui/jquery.progress.js"></script>
    <script type="text/javascript" src="js/plugins/ui/jquery.timeentry.min.js"></script>
    <script type="text/javascript" src="js/plugins/ui/jquery.colorpicker.js"></script>
    <script type="text/javascript" src="js/plugins/ui/jquery.jgrowl.js"></script>
    <script type="text/javascript" src="js/plugins/ui/jquery.breadcrumbs.js"></script>
    <script type="text/javascript" src="js/plugins/ui/jquery.sourcerer.js"></script>

    <script type="text/javascript" src="js/plugins/calendar.min.js"></script>
    <script type="text/javascript" src="js/plugins/elfinder.min.js"></script>

    <script type="text/javascript" src="js/custom.js"></script>

    <script type="text/javascript" src="js/charts/chart.js"></script>

    <!-- Shared on MafiaShare.net  --><!-- Shared on MafiaShare.net  --></head>

<body>

<!-- Left side content -->
<div id="leftSide">
    <div class="logo"><a href="#"><img src=" " alt="" /></a></div>

    <div class="sidebarSep mt0"></div>



    <!-- Left navigation -->
    <ul id="menu" class="nav">
        <li class="dash"><a href="#" onclick="index_html()" class="active"><span>首页</span></a></li>
        <li class="charts"><a href="#" title="" onclick="toggle('userManage')" class="exp"><span>系统管理</span></a>
            <ul class="sub ul_hidden" id="userManage">
                <li><a href="我的团队.html" title="">合同履行</a></li>
                <li><a href="#" title="">经营管理</a></li>
                <li><a href="#" title="">成本管理</a></li>
                <li><a href="#" title="">人事信息</a></li>
                <li><a href="#" title="">资金情况</a></li>
                <li><a href="#" title="">建设发展</a></li>
            </ul>
        </li>

        <li class="charts"><a href="#" title="" onclick="toggle('taskManage')" class="exp"><span>任务管理</span></a>
            <ul class="sub ul_hidden" id="taskManage">
                <li><a href="#" title="">综合部</a></li>
                <li><a href="#" title="">市场部</a></li>
                <li><a href="#" title="">财务部</a></li>
                <li><a href="#" title="">规建部</a></li>
                <li><a href="#" title="">金沙艺术中心</a></li>
            </ul>
        </li>

        <li class="charts"><a href="#" title="" onclick="toggle('fengKongManage')" class="exp"><span>风控管理</span></a>
            <ul class="sub ul_hidden" id="fengKongManage">
                <li><a href="#" title="">涉诉情况</a></li>
                <li><a href="#" title="">监督检查整改情况</a></li>
            </ul>
        </li>

        <li class="tables"><a href="#" title="" onclick="toggle('myInfo')"  class="exp"><span>个人档案</span><strong></strong></a>
            <ul class="sub ul_hidden" id="myInfo">
                <li><a href="#" title="" onclick="userInfo()" id="idNo"></a></li>
                <li><a href="#" title="" onclick="userInfo()" id="idName"></a></li>
                <li class="last"><a href="#" title="" onclick="userInfo()" id="idPhone"></a></li>
            </ul>
        </li>
    </ul>
</div>


<!-- Right side -->
<div id="rightSide">

    <!-- Top fixed navigation -->
    <div class="topNav">
        <div class="wrapper">
            <div class="welcome"><a href="#" title=""><img src="images/userPic.png" alt="" /></a><span id="loginUser"></span></div>
            <div class="welcome"><a href="#" title=""></a><span id="messages" style="color: red"></span></div>
            <div class="userNav">
                <ul>
                    <li><a href="#" title=""><img src="images/icons/topnav/profile.png" alt="" /><span  onclick="userInfo()" >个人中心</span></a></li>
                    <li><a href="#" onclick="logOut()" title=""><img src="images/icons/topnav/logout.png" alt="" /><span>退出</span></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <!-- Responsive header -->
    <div class="resp">
        <div class="respHead">
            <a href="#" title=""><img src="images/loginLogo.png" alt="" /></a>
        </div>

        <div class="cLine"></div>
        <div class="smalldd">
            <span class="goTo"><img src="images/icons/light/home.png" alt="" />导航</span>
            <ul class="smallDropdown">
                <li><a href="#" title=""><img src="images/icons/light/home.png" alt="" />Dashboard</a></li>
                <li><a href="#" title=""><img src="images/icons/light/stats.png" alt="" />Statistics and charts</a></li>
                <li><a href="#" title="" class="exp"><img src="images/icons/light/pencil.png" alt="" />Forms stuff<strong>4</strong></a>
                    <ul>
                        <li><a href="#" title="">Form elements</a></li>
                        <li><a href="#" title="">Validation</a></li>
                        <li><a href="#" title="">WYSIWYG and file uploader</a></li>
                        <li class="last"><a href="#" title="">Wizards</a></li>
                    </ul>
                </li>
                <li><a href="#" title=""><img src="images/icons/light/users.png" alt="" />Interface elements</a></li>
                <li><a href="#" title="" class="exp"><img src="images/icons/light/frames.png" alt="" />Tables<strong>3</strong></a>
                    <ul>
                        <li><a href="#" title="">Static tables</a></li>
                        <li><a href="#" title="">Dynamic table</a></li>
                        <li class="last"><a href="#" title="">Sortable &amp; resizable tables</a></li>
                    </ul>
                </li>
                <li><a href="#" title="" class="exp"><img src="images/icons/light/fullscreen.png" alt="" />Widgets and grid<strong>2</strong></a>
                    <ul>
                        <li><a href="#" title="">Widgets</a></li>
                        <li class="last"><a href="#" title="">Grid</a></li>
                    </ul>
                </li>
                <li><a href="#" title="" class="exp"><img src="images/icons/light/alert.png" alt="" />Error pages<strong>6</strong></a>
                    <ul class="sub">
                        <li><a href="#" title="">403 page</a></li>
                        <li><a href="#" title="">404 page</a></li>
                        <li><a href="#" title="">405 page</a></li>
                        <li><a href="#" title="">500 page</a></li>
                        <li><a href="#" title="">503 page</a></li>
                        <li class="last"><a href="#" title="">Website is offline</a></li>
                    </ul>
                </li>
                <li><a href="#" title=""><img src="images/icons/light/files.png" alt="" />File manager</a></li>
                <li><a href="#" title="" class="exp"><img src="images/icons/light/create.png" alt="" />Other pages<strong>3</strong></a>
                    <ul>
                        <li><a href="#" title="">Typography</a></li>
                        <li><a href="#" title="">Calendar</a></li>
                        <li class="last"><a href="#" title="">Gallery</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="cLine"></div>
    </div>

    <!-- Title area -->
    <div class="titleArea">
        <div class="wrapper">
            <div class="pageTitle">
          </div>
            <div class="middleNav">
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="line" style="display:none;"></div>

    <!-- Page statistics and control buttons area -->
    <div class="statsRow" style="display:none;">
        <div class="wrapper">
            <div class="controlB">
                <ul>
                    <li><a href="#" title=""><img src="images/icons/control/32/plus.png" alt="" /><span>Add new session</span></a></li>
                    <li><a href="#" title=""><img src="images/icons/control/32/database.png" alt="" /><span>New DB entry</span></a></li>
                    <li><a href="#" title=""><img src="images/icons/control/32/hire-me.png" alt="" /><span>Add new user</span></a></li>
                    <li><a href="#" title=""><img src="images/icons/control/32/statistics.png" alt="" /><span>Check statistics</span></a></li>
                    <li><a href="#" title=""><img src="images/icons/control/32/comment.png" alt="" /><span>Review comments</span></a></li>
                    <li><a href="#" title=""><img src="images/icons/control/32/order-149.png" alt="" /><span>Check orders</span></a></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="line"></div>

    <!-- Main content wrapper -->
    <div class="wrapper">

        <!-- Note -->
        <div class="nNote nInformation hideit">
            <p>亲爱的<strong>沙磁文旅 </strong>（Lv1，重庆市地区领导人）</p>
        </div>
        <!-- Widgets -->
        <div class="widgets">

            <!-- 2 columns widgets -->
<!--            <div class="oneTwo">-->

<!--                &lt;!&ndash; Search &ndash;&gt;-->
<!--&lt;!&ndash;                <div class="searchWidget">&ndash;&gt;-->
<!--&lt;!&ndash;                    <form action="">&ndash;&gt;-->
<!--&lt;!&ndash;                        <input type="text" name="search" placeholder="Enter search text..." />&ndash;&gt;-->
<!--&lt;!&ndash;                        <input type="submit" name="find" value="" />&ndash;&gt;-->
<!--&lt;!&ndash;                    </form>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->

<!--                &lt;!&ndash; Purchase info widget &ndash;&gt;-->
<!--                <div class="widget">-->
<!--                    <div class="title">-->
<!--                        <img src="images/icons/dark/money.png" alt="" class="titleIcon" />-->
<!--                        <h6>高息期中的项目(打款确认后进入高息期)</h6>-->
<!--                        <div class="topIcons">-->
<!--                            <a href="#" class="tipS" title="Download statement"><img src="images/icons/downloadTop.png" alt="" /></a>-->
<!--                            <a href="#" class="tipS" title="Print invoice"><img src="images/icons/printTop.png" alt="" /></a>-->
<!--                            <a href="#" class="tipS" title="Edit"><img src="images/icons/editTop.png" alt="" /></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="newOrder">-->
<!--                        <div class="userRow">-->
<!--                            <a href="#" title=""><img src="images/user.png" alt="" class="floatL" /></a>-->
<!--                            <ul class="leftList">-->
<!--                                <li><a href="#" title=""><strong>提供帮助 T-2 ≌ 接受帮助 J-2</strong></a></li>-->
<!--                                <li>Order status:</li>-->
<!--                            </ul>-->
<!--                            <ul class="rightList">-->
<!--                                <li>提供金额：<a href="#" title=""><strong>￥1000</strong></a></li>-->
<!--                                <li>收益总计：<a href="#" title=""><strong>￥44</strong></a></li>-->
<!--                            </ul>-->
<!--                            <div class="clear"></div>-->
<!--                        </div>-->

<!--                        <div class="cLine"></div>-->

<!--                        <div class="orderRow">-->
<!--                            <ul class="leftList">-->
<!--                                <li>排队收益:</li>-->
<!--                                <li>是否转出:</li>-->
<!--                                <li>提现:</li>-->
<!--                            </ul>-->
<!--                            <ul class="rightList">-->
<!--                                <li><strong>0</strong>天收益+0</li>-->
<!--                                <li><strong class="green">未转出</strong></li>-->
<!--                                <li><strong class="orange">您已获得2.2%-X日息  </strong>(可以提现)</li>-->
<!--                            </ul>-->
<!--                            <div class="clear"></div>-->
<!--                        </div>-->

<!--                        <div class="cLine"></div>-->
<!--                        <div class="totalAmount"><h6 class="floatL blue">交易成功</h6><div class="num" style="margin:0;"><a href="#" class="blueNum">提现</a></div><div class="clear"></div></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Purchase info widget &ndash;&gt;-->
<!--                <div class="widget">-->
<!--                    <div class="title">-->
<!--                        <img src="images/icons/dark/money.png" alt="" class="titleIcon" />-->
<!--                        <h6>分享财富的项目</h6>-->
<!--                        <div class="topIcons">-->
<!--                            <a href="#" class="tipS" title="Download statement"><img src="images/icons/downloadTop.png" alt="" /></a>-->
<!--                            <a href="#" class="tipS" title="Print invoice"><img src="images/icons/printTop.png" alt="" /></a>-->
<!--                            <a href="#" class="tipS" title="Edit"><img src="images/icons/editTop.png" alt="" /></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="newOrder">-->
<!--                        <div class="userRow">-->
<!--                            <a href="#" title=""><img src="images/user.png" alt="" class="floatL" /></a>-->
<!--                            <ul class="leftList">-->
<!--                                <li><a href="#" title=""><strong>提供帮助 T-2</strong></a></li>-->
<!--                                <li>配对时间：2016-09-25 13:51:02 交易时间：2016-09-25 13:51:40</li>-->
<!--                            </ul>-->
<!--                            <ul class="rightList">-->
<!--                                <li>提供金额：<a href="#" title=""><strong>￥1000</strong></a></li>-->
<!--                            </ul>-->
<!--                            <div class="clear"></div>-->
<!--                        </div>-->

<!--                        <div class="cLine"></div>-->

<!--                        <div class="orderRow">-->
<!--                            <ul class="leftList">-->
<!--                                <li>付款方式:</li>-->
<!--                                <li>接受会员:</li>-->
<!--                            </ul>-->
<!--                            <ul class="rightList pays">-->
<!--                                <li><i class="icons bank" title="银行支付"></i><i class="icons alipay ml7" title="支付宝支付"></i><i class="icons wechat ml7" title="微信支付"></i><i class="icons line1 ml7" title="线下同城支付"></i></li>-->
<!--                                <li><strong class="green">沙磁文旅</strong></li>-->
<!--                            </ul>-->
<!--                            <div class="clear"></div>-->
<!--                        </div>-->

<!--                        <div class="cLine"></div>-->
<!--                        <div class="totalAmount"><h6 class="floatL blue">已完成</h6>-->
<!--                            <div class="num" style="margin: 0px 8px 0 0;"><a href="#" class="blueNum">留言</a></div>-->
<!--                            <div class="num" style="margin: 0px 8px 0 0;"><a href="#" class="blueNum">详细资料</a></div>-->
<!--                            <div class="num" style="margin: 0px 8px 0 0;"><a href="#" class="blueNum">给Ta评价</a></div>-->
<!--                            <div class="clear"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="clear"></div>-->

<!--            </div>-->
<!--            <div class="oneTwo">-->
<!--                &lt;!&ndash; New users widget &ndash;&gt;-->
<!--                <div class="widget">-->
<!--                    <div class="title"><img src="images/icons/dark/add.png" alt="" class="titleIcon" /><h6>收获财富的项目</h6></div>-->
<!--                    <div class="wUserInfo">-->
<!--                        <a href="#" title="" class="wUserPic"><img src="images/user.png" alt="" /></a>-->
<!--                        <ul class="leftList">-->
<!--                            <li><a href="#" title=""><strong>张三</strong></a></li>-->
<!--                            <li><a href="#" title="">eugene@163.com</a></li>-->
<!--                        </ul>-->
<!--                        <ul class="rightList">-->
<!--                            <li><a href="#" class="green"><strong>$12,248.21</strong></a></li>-->
<!--                            <li><a href="#" class="red">12 周期</a></li>-->
<!--                        </ul>-->
<!--                        <div class="clear"></div>-->
<!--                    </div>-->

<!--                    <div class="cLine"></div>-->

<!--                    <div class="wUserInfo">-->
<!--                        <a href="#" title="" class="wUserPic"><img src="images/user.png" alt="" /></a>-->
<!--                        <ul class="leftList">-->
<!--                            <li><a href="#" title=""><strong>李四</strong></a></li>-->
<!--                            <li><a href="#" title="">valery@163.com</a></li>-->
<!--                        </ul>-->
<!--                        <ul class="rightList">-->
<!--                            <li><a href="#" class="green"><strong>$4,048</strong></a></li>-->
<!--                            <li><a href="#" class="red">96 周期</a></li>-->
<!--                        </ul>-->
<!--                        <div class="clear"></div>-->
<!--                    </div>-->

<!--                    <div class="cLine"></div>-->

<!--                    <div class="wUserInfo">-->
<!--                        <a href="#" title="" class="wUserPic"><img src="images/user.png" alt="" /></a>-->
<!--                        <ul class="leftList">-->
<!--                            <li><a href="#" title=""><strong>王五</strong></a></li>-->
<!--                            <li><a href="#" title="">liam@168.com</a></li>-->
<!--                        </ul>-->
<!--                        <ul class="rightList">-->
<!--                            <li><a href="#" class="green"><strong>$94,127.20</strong></a></li>-->
<!--                            <li><a href="#" class="red">128 周期</a></li>-->
<!--                        </ul>-->
<!--                        <div class="clear"></div>-->
<!--                    </div>-->

<!--                    <div class="cLine"></div>-->

<!--                    <div class="wUserInfo">-->
<!--                        <a href="#" title="" class="wUserPic"><img src="images/user.png" alt="" /></a>-->
<!--                        <ul class="leftList">-->
<!--                            <li><a href="#" title=""><strong>周六</strong></a></li>-->
<!--                            <li><a href="#" title="">steve@186.com</a></li>-->
<!--                        </ul>-->
<!--                        <ul class="rightList">-->
<!--                            <li><a href="#" class="green"><strong>$2,483.02</strong></a></li>-->
<!--                            <li><a href="#" class="red">0 周期</a></li>-->
<!--                        </ul>-->
<!--                        <div class="clear"></div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Latest update widget &ndash;&gt;-->
<!--                <div class="widget">-->
<!--                    <div class="title"><img src="images/icons/dark/refresh4.png" alt="" class="titleIcon" /><h6>平台动态</h6></div>-->

<!--                    <div class="updates">-->
<!--                        <div class="newUpdate">-->
<!--                            <div class="uDone">-->
<!--                                <a href="#" title=""><strong>新闻测试</strong></a>-->
<!--                                <span>我们刚刚成立了一个新的服务器。我们的大师 ...</span>-->
<!--                            </div>-->
<!--                            <div class="uDate"><span class="uDay">08</span>feb</div>-->
<!--                            <div class="clear"></div>-->
<!--                        </div>-->

<!--                        <div class="newUpdate">-->
<!--                            <span class="uAlert">-->
<!--                                <a href="#" title=""><strong>新闻测试</strong></a>-->
<!--                                <span>但一切都已经解决了。它将 ...</span>-->
<!--                            </span>-->
<!--                            <span class="uDate"><span class="uDay">08</span>feb</span>-->
<!--                            <div class="clear"></div>-->
<!--                        </div>-->

<!--                        <div class="newUpdate">-->
<!--                            <span class="uDone">-->
<!--                                <a href="#" title=""><strong>新闻测试</strong></a>-->
<!--                                <span>我们只是通过1000销售!恭喜所有</span>-->
<!--                            </span>-->
<!--                            <span class="uDate"><span class="uDay">07</span>feb</span>-->
<!--                            <div class="clear"></div>-->
<!--                        </div>-->

<!--                        <div class="newUpdate">-->
<!--                            <span class="uNotice">-->
<!--                                <a href="#" title=""><strong>新闻测试</strong></a>-->
<!--                                <span>非常dyplomatic和灵活的销售经理</span>-->
<!--                            </span>-->
<!--                            <span class="uDate"><span class="uDay">06</span>feb</span>-->
<!--                            <div class="clear"></div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <div class="clear"></div>
        </div>
    </div>

    <!-- Footer line -->
    <div id="footer">
       <div class="wrapper">Copyright © 2023 沙磁文旅版权所有 </div>-->
    </div>

</div>

<div class="clear"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(".toggle").click(function() {
        $(this).next("ul").slideToggle();
    });
    $(function () {
        var token = localStorage.getItem("token");
        if(token){
            $.ajax({
                type: "get",
                url: "/isLogin",
                headers: {
                    'Authorization': token // 在请求头中添加token
                },
                success: function (res) {
                    if(res.code === 200) {
                        document.getElementById("loginUser").innerHTML = "您好！"+res.obj.name;
                        document.getElementById("idNo").innerHTML = "ID号："+res.obj.id;
                        document.getElementById("idName").innerHTML = "姓名："+res.obj.name;
                        document.getElementById("idPhone").innerHTML = "手机："+res.obj.phone;
                    }else {
                        alert(res.message)
                    }
                },
                error:function (res) {
                    alert(res.message)
                }
            })
        }else {
            var info ="您还未登录，暂时无法显示当前页面的敏感数据哟！"+"<a href='#' onclick='login()'>立即登录</a>";
            document.getElementById("messages").innerHTML = info;
        }
    })

    function logOut() {
        $.ajax({
            type: "GET",
            url: "/logout",
            success: function (res) {
                if(res && res.code === 200) {
                    localStorage.removeItem('token');
                    alert(res.message)
                    location.href="/admin";
                }
            },
            error:function (res) {
                alert(res.message)
            }
        })
    }

    function index_html() {
        location.href="/admin";
    }
    function userInfo() {
        location.href="/userInfo";
    }
    function login() {
        location.href="/";
    }

    function toggle(id) {
        var x = document.getElementById(id);
        if (x.className === "sub ul_hidden") {
            x.className = "sub";
        } else {
            x.className = "sub ul_hidden";
        }
    }

</script>
</body>
</html>