<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <title>沙磁文旅</title>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/echarts.min.js"></script>
    <script type="text/javascript" src="js/js.js"></script>
    <script type="text/javascript" src="js/jquery.limarquee.js"></script>
    <script type="text/javascript" src="js/jquery.cxselect.min.js"></script>
    <link href="css/style_sc.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="css/comon0.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div style="background:#fff center top;">
    <div class="loading">
        <div class="loadbox"> <img src="picture/loading.gif"> 页面加载中... </div>
    </div>
    <div class="back"></div>
    <div class="head">
        <div class="weather"><span id="showTime"></span></div>
        <h1><a href="https://gitee.com/iGaoWei/big-data-view" style="color: white">沙磁文旅大数据可视化展示平台</a></h1>

    </div>
    <div class="container">
    <div class="tag1">任务管理<button onclick="getTask('月',currentDate(1))">按月</button>
        <button onclick="getTask('年',currentDate(2))">按年</button>
        <div id="myChart" style=" height: 400px;"></div>
    </div>

    <div class="tag1">任务管理<button onclick="getTask('月',currentDate(1))">按月</button>
        <button onclick="getTask('年',currentDate(2))">按年</button>
        <div id="myChart2" style="height: 400px;"></div>
    </div>

    <div class="tag1">任务管理<button onclick="getTask('月',currentDate(1))">按月</button>
         <button onclick="getTask('年',currentDate(2))">按年</button>
         <div id="myChart3" style=" height: 400px;"></div>
     </div>

        <div class="tag1">任务管理<button onclick="getTask('月',currentDate(1))">按月</button>
            <button onclick="getTask('年',currentDate(2))">按年</button>
            <div id="myChart4" style=" height: 400px;"></div>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function () {
        getTask("月",currentDate(1));
    })


    function getTask(period,condition) {
        // var myChart = echarts.init(document.getElementById('echart4'));
        var myChart = echarts.init(document.getElementById('myChart'));
        var myChart2 = echarts.init(document.getElementById('myChart2'));
        var myChart3 = echarts.init(document.getElementById('myChart3'));
        var myChart4 = echarts.init(document.getElementById('myChart4'));
        $.ajax({
            type: "get",
            url: "/getTaskByCenter",
            headers: {
                'Authorization': localStorage.getItem("token") // 在请求头中添加token
            },
            data:({
                period:period,
                condition:condition
            }),
            success: function (res) {
                if(res && res.code===200){
                    var xAxisData =[];
                    var data1 =[];
                    var data2 =[];
                    var data3 =[];
                    var data4 =[];
                    for (let i = 0; i < res.obj.length; i++) {
                        xAxisData.push(res.obj[i].project);
                        data1.push(res.obj[i].totalNum)
                        data2.push(res.obj[i].completed)
                        data3.push(res.obj[i].unfinished)
                        data4.push(res.obj[i].overdue)
                    }
                    // 指定图表的配置项和数据
                    var option = {
                        title: {
                            text: ''
                        },
                        tooltip: {},
                        legend: {
                            data:['任务数','完成数','未完成数','逾期数']
                        },
                        xAxis: {
                            data:xAxisData
                        },
                        yAxis: {
                            type: 'value',
                            autoScale: true // 开启自动缩放功能
                        },
                        series: [{
                            name: '任务数',
                            type: 'bar',
                            data: data1
                        },
                            {
                                name: '完成数',
                                type: 'bar',
                                data: data2
                            },
                            {
                                name: '未完成数',
                                type: 'bar',
                                data: data3
                            },
                            {
                                name: '逾期数',
                                type: 'bar',
                                data: data4
                            },
                        ]
                    };

                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                    myChart2.setOption(option);
                    myChart3.setOption(option);
                    myChart4.setOption(option);
                }

            }



        })


    }

    //获取年月日

    function currentDate(type) {
        var date = new Date(); // 创建Date对象
        // 获取年、月、日、小时、分钟和秒
        var year = date.getFullYear();
        var month = date.getMonth() + 1; // 月份从0开始，所以要加1
        var day = date.getDate();
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var seconds = date.getSeconds();
        // 将日期和时间组件组合成字符串
        var formatteddate = year + '-' + month;
        var formattedTime = year + '-' + month + '-' + day;
        if(type==1){
            return formatteddate;
        }else {
            return year;
        }

    }
</script>
</body>
</html>