<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>沙磁文旅数字展示大屏</title>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/echarts.min.js"></script>
	<script type="text/javascript" src="js/china.js"></script>
	<!-- <script type="text/javascript" src="js/map.js"></script> -->
	<script type="text/javascript" src="js/js.js"></script>
	<script type="text/javascript" src="js/Bubble.js"></script>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="head clearfix">


		<h1 class="pulll_left">沙磁文旅数字展示大屏</h1>
		<div class="time" id="showTime">2018/6/12 17:00:12</div>
		<script>
			var t = null;
			t = setTimeout(time, 1000);//開始运行
			function time() {
				clearTimeout(t);//清除定时器
				dt = new Date();
				var y = dt.getFullYear();
				var mt = dt.getMonth() + 1;
				var day = dt.getDate();
				var h = dt.getHours();//获取时
				var m = dt.getMinutes();//获取分
				var s = dt.getSeconds();//获取秒
				document.getElementById("showTime").innerHTML = y + "/" + mt + "/" + day + " " + h + ":" + m + ":" + s + "";
				t = setTimeout(time, 1000); //设定定时器，循环运行     
			}

		</script>
	</div>
	<div class="mainbox">

		<ul class="clearfix nav1">
			<li style="width: 25%">
				<div class="box">
					<div class="tit">任务管理</div>
					<div class="boxnav" style="height: 235px;">
						<table class="table1" width="100%" border="0" cellspacing="0" cellpadding="0">
							<thead>
							<tr>
								<th>部门名</th>
								<th>任务数</th>
								<th>已完成数</th>
								<th>未完成数</th>
								<th>逾期数</th>
							</tr>
							</thead>
							<tbody id="taskTable">

							</tbody>
						</table>
					</div>
				</div>
				<div class="box">
					<div class="tit">风控</div>
					<div class="boxnav" style="height: 150px;">
						<table class="table1" width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody>
								<tr>
									<th>类  别</th>
									<th>总件数</th>
									<th>完了件数</th>
									<th>未完了件数</th>
								</tr>
								<tr>
									<td>涉诉情况</td>
									<td>10</td>
									<td><span class="text-w">10</span></td>
									<td><span class="text-b">0</span></td>
								</tr>
								<tr>
									<td>监督检查整改情况</td>
									<td>50</td>
									<td><span class="text-w">49</span></td>
									<td><span class="text-b">1</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="box">
					<div class="tit">合同履行</div>
					<div class="boxnav" style="height: 150px;">
						<table class="table1" width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody>
								<tr>
									<th>总件数</th>
									<th>完成件数</th>
									<th>未完成件数</th>
								</tr>
								<tr>
									<td>10</td>
									<td><span class="text-w">10</span></td>
									<td><span class="text-b">0</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="box">
					<div class="tit">人事信息统计</div>
					<div class="boxnav" style="height: 350px;">
						<div style="float: left; width: 50%; height: 170px" id="fb01"></div>
						<div style="float: left; width: 50%; height: 170px" id="fb02"></div>
						<div style="float: left; width: 50%; height: 170px" id="fb03"></div>
						<div style="float: left; width: 50%; height: 170px" id="fb04"></div>
					</div>
				</div>
			</li>
			<li style="width: 50%">

				<div class="box">
					<div class="boxnav mapc" style="height: 1105px; position: relative">
						<div class="mapnav2">
							<div class="box">
								<div class="centerTit">经营状况</div>
								<div class="tit">租金收入</div>
								<div class="boxnav" style="height: 200px;" id="asset_1">
								</div>
								<div class="tit">欠缴租金</div><br>
								<div class="fboxnavtechart" style="height: 200px;" id="asset_2">
								</div>
								<div class="tit">出租率</div>
								<div class="boxnav" style="height: 200px;" id="asset_3">
								</div>
							</div>
							<div class="box">
								<div class="tit">经营业务收入</div>
								<div class="boxnav" style="height: 250px;" id="asset_4">
								</div>
							</div>
						</div>
					</div>
				</div>

			</li>
			<li style="width: 25%">
				<div class="box">
					<div class="centerTit">资金状况</div>
					<div class="tit">收入状况</div>
					<div class="boxnav" id="capital_1" style="height: 213px;"></div>
					<div class="tit">支出状况</div>
					<div class="boxnav" id="capital_2" style="height: 213px;">
					</div>
				</div>
				<div class="box">
					<div class="tit">建设进展</div>
					<div class="boxnav" style="height: 213px;">
				</div>
				</div>
				<div class="box">
					<div class="tit">管理成本</div>
					<div class="boxnav" style="height: 230px;" id="fb05"></div>
				</div>
			</li>
		</ul>
	</div>
</body>

</html>