<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<title>首页</title>
<link href="css/main.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="js/jquery.min.js"></script>

<script type="text/javascript" src="js/plugins/spinner/ui.spinner.js"></script>
<script type="text/javascript" src="js/plugins/spinner/jquery.mousewheel.js"></script>

<script type="text/javascript" src="js/jquery-ui.min.js"></script>

<script type="text/javascript" src="js/plugins/charts/excanvas.min.js"></script>
<script type="text/javascript" src="js/plugins/charts/jquery.flot.js"></script>
<script type="text/javascript" src="js/plugins/charts/jquery.flot.orderBars.js"></script>
<script type="text/javascript" src="js/plugins/charts/jquery.flot.pie.js"></script>
<script type="text/javascript" src="js/plugins/charts/jquery.flot.resize.js"></script>
<script type="text/javascript" src="js/plugins/charts/jquery.sparkline.min.js"></script>

<script type="text/javascript" src="js/plugins/forms/uniform.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.cleditor.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.validationEngine-en.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.validationEngine.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="js/plugins/forms/autogrowtextarea.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.dualListBox.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.inputlimiter.min.js"></script>
<script type="text/javascript" src="js/plugins/forms/chosen.jquery.min.js"></script>

<script type="text/javascript" src="js/plugins/wizard/jquery.form.js"></script>
<script type="text/javascript" src="js/plugins/wizard/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/plugins/wizard/jquery.form.wizard.js"></script>

<script type="text/javascript" src="js/plugins/uploader/plupload.js"></script>
<script type="text/javascript" src="js/plugins/uploader/plupload.html5.js"></script>
<script type="text/javascript" src="js/plugins/uploader/plupload.html4.js"></script>
<script type="text/javascript" src="js/plugins/uploader/jquery.plupload.queue.js"></script>

<script type="text/javascript" src="js/plugins/tables/datatable.js"></script>
<script type="text/javascript" src="js/plugins/tables/tablesort.min.js"></script>
<script type="text/javascript" src="js/plugins/tables/resizable.min.js"></script>

<script type="text/javascript" src="js/plugins/ui/jquery.tipsy.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.collapsible.min.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.progress.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.timeentry.min.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.colorpicker.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.jgrowl.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.breadcrumbs.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.sourcerer.js"></script>

<script type="text/javascript" src="js/plugins/calendar.min.js"></script>
<script type="text/javascript" src="js/plugins/elfinder.min.js"></script>

<script type="text/javascript" src="js/custom.js"></script>

<script type="text/javascript" src="js/charts/chart.js"></script>

<!-- Shared on MafiaShare.net  --><!-- Shared on MafiaShare.net  --></head>

<body>

<!-- Left side content -->
<div id="leftSide">
    <div class="logo"><a href="#"><img src="images/logo.png" alt="" /></a></div>
    
    <div class="sidebarSep mt0"></div>
    
    <!-- Search widget -->
    <form action="" class="sidebarSearch">
        <input type="text" name="search" placeholder="搜索..." id="ac" />
        <input type="submit" value="" />
    </form>
    
    <div class="sidebarSep"></div>

    <!-- Next update progress widget -->
    <div class="nextUpdate">
        <ul>
            <li>下次更新时间在:</li>
            <li>23 小时 14 分</li>
        </ul>
        <div class="pWrapper"><div class="progressG" title="78%"></div></div>
    </div>
    
    <div class="sidebarSep"></div>
    
    <!-- Left navigation -->
    <ul id="menu" class="nav">
        <li class="dash"><a href="index.html" title=""  class="active"><span>首页</span></a></li>
        <li class="charts"><a href="我的资料.html" title="" class="exp"><span>账户管理</span></a>
          <ul class="sub">
              <li><a href="#" title="">激活码管理</a></li>
              <li><a href="门票管理.html" title="">门票券管理</a></li>
              <li><a href="我的团队.html" title="">伞下的成员</a></li>
              <li><a href="#" title="">注册下线会员</a></li>
              <li class="last"><a href="#" title="">注销登录账号</a></li>
          </ul>
      	</li>
        <li class="forms"><a href="#" title="" class="exp"><span>交易记录</span><strong></strong></a>
            <ul class="sub">
                <li><a href="提供帮助记录.html" title="">提供帮助记录</a></li>
                <li><a href="接受帮助记录.html" title="">接受帮助记录</a></li>
                <li><a href="团队信息记录.html" title="">团队信息记录</a></li>
                <li><a href="提供帮助所得利息.html" title="">提供帮助所得利息</a></li>
                <li class="last"><a href="经理奖钱包记录.html" title="">经理奖钱包记录</a></li>
            </ul>
        </li>
        <li class="ui"><a href="#" title="" class="exp"><span>我的钱包</span></a>
            <ul class="sub">
                <li><a href="我的钱包.html" title="">资产：￥10000</a></li>
                <li><a href="我的钱包.html" title="">经理：￥1700</a></li>
                <li><a href="我的钱包.html" title="">推荐：￥150</a></li>
                <li class="last"><a href="我的钱包.html" title="">积分：0分</a></li>
            </ul>
        </li>
        <li class="tables"><a href="我的资料.html" title="" class="exp"><span>个人档案</span><strong></strong></a>
            <ul class="sub">
                <li><a href="我的资料.html" title="">ID号：1</a></li>
                <li><a href="我的资料.html" title="">级别：Lv1</a></li>
                <li><a href="我的资料.html" title="">姓名：华远网络</a></li>
                <li class="last"><a href="我的资料.html" title="">手机：18200000000</a></li>
            </ul>
        </li>
        <li class="widgets"><a href="#" title="" class="exp"><span>拆包大厅</span><strong></strong></a></li>
    </ul>
</div>


<!-- Right side -->
<div id="rightSide">

    <!-- Top fixed navigation -->
    <div class="topNav">
        <div class="wrapper">
            <div class="welcome"><a href="#" title=""><img src="images/userPic.png" alt="" /></a><span id="loginUser"></span></div>
            <div class="welcome"><a href="#" title=""></a><span id="messages" style="color: red"></span></div>
            <div class="userNav">
                <ul>
                    <li><a href="#" title=""><img src="images/icons/topnav/profile.png" alt="" /><span  onclick="userInfo()" >个人中心</span></a></li>
                    <li><a href="#" onclick="logOut()" title=""><img src="images/icons/topnav/logout.png" alt="" /><span>退出</span></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    
    <!-- Responsive header -->
    <div class="resp">
        <div class="respHead">
            <a href="#" title=""><img src="images/loginLogo.png" alt="" /></a>
        </div>
        
        <div class="cLine"></div>
        <div class="smalldd">
            <span class="goTo"><img src="images/icons/light/home.png" alt="" />导航</span>
            <ul class="smallDropdown">
                <li class="dash"><a href="index.html" title=""  class="active"><span>首页</span></a></li>
                <li class="charts"><a href="我的资料.html" title="" class="exp"><span>账户管理</span></a>
                    <ul class="sub">
                        <li><a href="#" title="">激活码管理</a></li>
                        <li><a href="门票管理.html" title="">门票券管理</a></li>
                        <li><a href="我的团队.html" title="">伞下的成员</a></li>
                        <li><a href="#" title="">注册下线会员</a></li>
                        <li class="last"><a href="#" title="">注销登录账号</a></li>
                    </ul>
                </li>
                <li class="forms"><a href="#" title="" class="exp"><span>交易记录</span><strong></strong></a>
                    <ul class="sub">
                        <li><a href="提供帮助记录.html" title="">提供帮助记录</a></li>
                        <li><a href="接受帮助记录.html" title="">接受帮助记录</a></li>
                        <li><a href="团队信息记录.html" title="">团队信息记录</a></li>
                        <li><a href="提供帮助所得利息.html" title="">提供帮助所得利息</a></li>
                        <li class="last"><a href="经理奖钱包记录.html" title="">经理奖钱包记录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="cLine"></div>
    </div>

    
    <div class="line" style="display:none;"></div>

    <div class="line"></div>
    
    <!-- Main content wrapper -->
    <div class="wrapper">
    
        <!-- Note -->
        <div class="nNote nInformation hideit">
            <p>亲爱的<strong>华远网络 </strong>（Lv1，山东临沂市地区领导人）本月任务 <strong>1 </strong>次，已完成 <strong>1 </strong>次排单。</p>
        </div>
        <!-- Widgets -->
        <div class="widgets">
            <div class="clear"></div>
        </div>
    </div>
    
    <!-- Footer line -->
    <div id="footer">
        <div class="wrapper">Copyright © 2016 华远软件官方演示站点-本站点只提供演示版权所有</div>
    </div>

</div>

<div class="clear"></div>

</body>

</html>