<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0" />
<title>首页</title>
<link href="css/main.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="js/jquery.min.js"></script>

<script type="text/javascript" src="js/plugins/spinner/ui.spinner.js"></script>
<script type="text/javascript" src="js/plugins/spinner/jquery.mousewheel.js"></script>

<script type="text/javascript" src="js/jquery-ui.min.js"></script>

<script type="text/javascript" src="js/plugins/charts/excanvas.min.js"></script>
<script type="text/javascript" src="js/plugins/charts/jquery.flot.js"></script>
<script type="text/javascript" src="js/plugins/charts/jquery.flot.orderBars.js"></script>
<script type="text/javascript" src="js/plugins/charts/jquery.flot.pie.js"></script>
<script type="text/javascript" src="js/plugins/charts/jquery.flot.resize.js"></script>
<script type="text/javascript" src="js/plugins/charts/jquery.sparkline.min.js"></script>

<script type="text/javascript" src="js/plugins/forms/uniform.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.cleditor.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.validationEngine-en.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.validationEngine.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="js/plugins/forms/autogrowtextarea.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.dualListBox.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.inputlimiter.min.js"></script>
<script type="text/javascript" src="js/plugins/forms/chosen.jquery.min.js"></script>

<script type="text/javascript" src="js/plugins/wizard/jquery.form.js"></script>
<script type="text/javascript" src="js/plugins/wizard/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/plugins/wizard/jquery.form.wizard.js"></script>

<script type="text/javascript" src="js/plugins/uploader/plupload.js"></script>
<script type="text/javascript" src="js/plugins/uploader/plupload.html5.js"></script>
<script type="text/javascript" src="js/plugins/uploader/plupload.html4.js"></script>
<script type="text/javascript" src="js/plugins/uploader/jquery.plupload.queue.js"></script>

<script type="text/javascript" src="js/plugins/tables/datatable.js"></script>
<script type="text/javascript" src="js/plugins/tables/tablesort.min.js"></script>
<script type="text/javascript" src="js/plugins/tables/resizable.min.js"></script>

<script type="text/javascript" src="js/plugins/ui/jquery.tipsy.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.collapsible.min.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.progress.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.timeentry.min.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.colorpicker.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.jgrowl.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.breadcrumbs.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.sourcerer.js"></script>

<script type="text/javascript" src="js/plugins/calendar.min.js"></script>
<script type="text/javascript" src="js/plugins/elfinder.min.js"></script>

<script type="text/javascript" src="js/custom.js"></script>

<script type="text/javascript" src="js/charts/chart.js"></script>

<!-- Shared on MafiaShare.net  --><!-- Shared on MafiaShare.net  --></head>

<body>

<!-- Left side content -->
<div id="leftSide">
<!--    <div class="logo"><a href="#"><img src=" " alt="" /></a></div>-->

    <div class="sidebarSep mt0"></div>



    <!-- Left navigation -->
    <ul id="menu" class="nav">
        <li class="dash"><a href="#" onclick="index_html()" class="active"><span>首页</span></a></li>
        <li class="charts"><a href="#" title=""  class="exp"><span>系统管理</span></a>
            <ul class="sub ul_hidden" >
                <li><a href="#" title="" onclick="hetong()">合同履行</a></li>
                <li><a href="#" title="" onclick="mangeState()">经营管理</a></li>
                <li><a href="#" title="" onclick="costManage()">预算执行</a></li>
                <li><a href="#" onclick="memberList()" title="">人事信息</a></li>
                <li><a href="#" title="" onclick="capitalposition()">资金状况</a></li>
                <li><a href="" title="">建设发展</a></li>
            </ul>
        </li>

        <li class="charts"><a href="#" title=""  class="exp"><span>任务管理</span></a>
            <ul class="sub ul_hidden" >
                <li><a href="#" title="" onclick="tasklist('综合部')">综合部</a></li>
                <li><a href="#" title="" onclick="tasklist('市场部')">市场部</a></li>
                <li><a href="#" title="" onclick="tasklist('财务部')">财务部</a></li>
                <li><a href="#" title="" onclick="tasklist('规建部')">规建部</a></li>
                <li><a href="#" title="" onclick="tasklist('金沙艺术中心')">金沙艺术中心</a></li>
            </ul>
        </li>

        <li class="charts"><a href="#" title=""  class="exp"><span>风控管理</span></a>
            <ul class="sub ul_hidden">
                <li><a href="#" title="" onclick="fengkong()">涉诉情况</a></li>
                <li><a href="" title="">监督检查整改情况</a></li>
            </ul>
        </li>

        <li class="tables"><a href="#" title=""  class="exp"><span>个人档案</span><strong></strong></a>
            <ul class="sub ul_hidden" >
                <li><a href="#" title="#" onclick="userInfo()" id="idNo"></a></li>
                <li><a href="#" title="#" onclick="userInfo()" id="idName"></a></li>
                <li class="last"><a href="#" title="" onclick="userInfo()" id="idPhone"></a></li>
            </ul>
        </li>

        <li class="dash"><a href="#" onclick="center_html()" class="active"><span>数据展示中心</span></a></li>
    </ul>
</div>


<!-- Right side -->
<div id="rightSide">

    <!-- Top fixed navigation -->
    <div class="topNav">
        <div class="wrapper">
            <div class="welcome"><a href="#" title=""><img src="images/userPic.png" alt="" /></a><span id="loginUser"></span></div>
            <div class="welcome"><a href="#" title=""></a><span id="messages" style="color: red"></span></div>
            <div class="userNav">
                <ul>
                    <li><a href="#" title=""><img src="images/icons/topnav/profile.png" alt="" /><span  onclick="userInfo()" >个人中心</span></a></li>
                    <li><a href="#" onclick="logOut()" title=""><img src="images/icons/topnav/logout.png" alt="" /><span>退出</span></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    
    <!-- Responsive header -->
    <div class="resp">
        <div class="respHead">
            <a href="#" title=""><img src="images/loginLogo.png" alt="" /></a>
        </div>
        
        <div class="cLine"></div>
        <div class="smalldd">
            <span class="goTo"><img src="images/icons/light/home.png" alt="" />导航</span>
            <ul class="smallDropdown">
                <li class="dash"><a href="index.html" title=""  class="active"><span>首页</span></a></li>
                <li class="charts"><a href="我的资料.html" title="" class="exp"><span>账户管理</span></a>
                    <ul class="sub">
                        <li><a href="#" title="">激活码管理</a></li>
                        <li><a href="门票管理.html" title="">门票券管理</a></li>
                        <li><a href="我的团队.html" title="">伞下的成员</a></li>
                        <li><a href="#" title="">注册下线会员</a></li>
                        <li class="last"><a href="#" title="">注销登录账号</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="cLine"></div>
    </div>

    
    <div class="line" style="display:none;"></div>

    <div class="line"></div>
    
    <!-- Main content wrapper -->
    <div class="wrapper">
    
        <!-- Note -->
        <div class="nNote nInformation hideit">
            <p>亲爱的<strong>沙磁文旅 </strong>（Lv1，重庆市地区领导人）</p>
        </div>
        <!-- Widgets -->
        <div class="widgets">
            <div class="clear"></div>
        </div>
    </div>
    
    <!-- Footer line -->
    <div id="footer">
        <div class="wrapper">Copyright © 2023 沙磁文旅版权所有</div>
    </div>

</div>

<div class="clear"></div>

<script type="text/javascript">
    $(".toggle").click(function() {
        $(this).next("ul").slideToggle();
    });
    $(function () {
        initData();
    })


    function initData() {
        var token = localStorage.getItem("token");
        if(token){
            $.ajax({
                type: "get",
                url: "/isLogin",
                headers: {
                    'Authorization': token // 在请求头中添加token
                },
                success: function (res) {
                    if(res.code === 200) {
                        document.getElementById("loginUser").innerHTML = "您好！"+res.obj.name;
                        document.getElementById("idNo").innerHTML = "ID号："+res.obj.id;
                        document.getElementById("idName").innerHTML = "姓名："+res.obj.name;
                        document.getElementById("idPhone").innerHTML = "手机："+res.obj.phone;
                        // document.getElementById("userId").value = res.obj.id;
                    }else {
                        layui.layer.msg(res.message,{time:1000},function(){
                            layer.close(); //再执行关闭
                            location.reload();
                        });
                    }
                },
                error:function (res) {
                    layui.layer.msg(res.message,{time:1000},function(){
                        layer.close(); //再执行关闭
                        location.reload();
                    });
                }
            })
        }else {
            var info ="您还未登录，暂时无法显示当前页面的敏感数据哟！"+"<a href='#' onclick='login()'>立即登录</a>";
            document.getElementById("messages").innerHTML = info;
        }
    }

    function logOut() {
        $.ajax({
            type: "GET",
            url: "/logout",
            success: function (res) {
                if(res && res.code === 200) {
                    localStorage.removeItem('token');
                    layui.layer.msg(res.message,{time:1000},function(){
                        layer.close(); //再执行关闭
                        location.href="/admin";
                    });
                }
            },
            error:function (res) {
                layui.layer.msg(res.message,{time:1000},function(){
                    layer.close(); //再执行关闭
                    location.reload();
                });
            }
        })
    }

    function index_html() {
        location.href="/admin";
    }
    function userInfo() {
        location.href="/userInfo";
    }
    function login() {
        location.href="/loginAdmin";
    }
    function memberList() {
        location.href="/memberList";
    }

    function costManage() {
        location.href="/costManage";
    }
    function mangeState() {
        location.href="/mangeState";
    }

    function capitalposition() {
        location.href="/capitalList";
    }
    function tasklist(project) {
        localStorage.setItem("project",project);
        location.href="/taskList";
    }
    function center_html() {
        location.href="/centerShow";
    }
    function hetong() {
        location.href="/contract";
    }
    function fengkong() {
        location.href="/risk";
    }


</script>
</body>

</html>