
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>登录</title>
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<link href="css/style_login.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/layui.js"></script>
<script type="text/javascript" src="css/layui.css"></script>
</head>
<body>
<!--

* 17素材vip建站专区模块代码
* 详尽信息请看官网：http://www.17sucai.com/pins/vip
*
* Copyright , 温州易站网络科技有限公司版权所有
*
* 请尊重原创，未经允许请勿转载。
* 在保留版权的前提下可应用于个人或商业用途

-->

<div class="aui-register-popup">
	<div class="aui-register-box">
		<div class="aui-register-link">
<!--			<a href="javascript:;" class="fl">返回首页</a>-->
<!--			<a href="javascript:;" class="fr">已有账号？去登录</a>-->
		</div>
		<div class="aui-register-logo">
<!--			<img src="images/logo.png" alt="">-->
		</div>
		<div class="aui-register-form" id="verifyCheck">
			<div class="register-wrap" id="register-wrap">
				<div class="register" id="register">
					<div class="register-top" id="reg-top">
<!--						<h2 class="normal" id="normal">普通登录</h2>-->
					</div>
					<!--账户密码登录-->
					<div class="register-con" id="rc">
						<div class="aui-register-form-item">
							<input type="text" name="phone" placeholder="手机号码" class="txt01 f-r3 required" keycodes="tel" tabindex="1" data-valid="isNonEmpty||isPhone" data-error="<i class='icon-tips'></i>请输入手机号||<i class='icon-tips'></i>手机号码格式不正确" maxlength="11" id="phone">
							<label class="focus valid"><div class="msg" style="display:none"><i class='icon-tips'></i>您还未输入手机号</div></label>
						</div>
						<div class="aui-register-form-item">
							<input type="password" name="password" placeholder="密码" id="password" maxlength="20" class="txt04 f-r3 required" tabindex="4" style="ime-mode:disabled;" onpaste="return  false" autocomplete="off" data-valid="isNonEmpty||between:6-20||level:2" data-error="<i class='icon-tips'></i>密码太短，最少6位||<i class='icon-tips'></i>密码长度6-20位||<i class='icon-tips'></i>密码太简单，有被盗风险，建议字母+数字的组合">
							<label class="focus valid"></label>

						</div>
						<div class="aui-register-form-item">
							<p class="aui-for-pwd">
<!--								<a class="" href="#">忘记密码</a>-->
							</p>
							<input id="aui-btn-reg" class="aui-btn-reg" placeholder=""  readonly="readonly" value="登录" >
						</div>

					</div>


					<!-- 扫码登录 -->
					<div class="saoma" id="sm">
						<div class="screen-tu" id="screen">
							<span class="aui-tag-size">密码登录</span>
						</div>
						<div class="aui-text-item">
							<h1>1秒即登录，方便又安全</h1>
						</div>
						<div class="qr-code">
							<span class="tips_img"></span>
							<img src="images/code.png" alt="">
						</div>


					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="aui-register-bottom">
<!--			<a href="#">联系客服</a>-->
<!--			<a href="#">帮助中心</a>-->
			<div class="clear"></div>
		</div>
	</div>
</div>


<script type="text/javascript" src="js/login.js"></script>
<script type="text/javascript">
$(function() {
	var devices = ["phone", "pad", "pod", "iPhone", "iPod", "ios", "iPad", "Android", "Mobile", "BlackBerry", "IEMobile", "MQQBrowser", "JUC", "Fennec", "wOSBrowser", "BrowserNG", "WebOS", "Symbian", "Windows Phone"];
	var userAgentInfo = navigator.userAgent;
	var isMobile = devices.some(function(device) {
		return userAgentInfo.indexOf(device) > 0;
	});
	$("#aui-btn-reg").click(function() {
		if (!verifyCheck._click()) return;
		var username = $.trim($('#phone').val());
		var password = $.trim($('#password').val());
		$.ajax({
			type: "post",
			url: "/login",
			datatype:"json",
			data: ({
				username: username,
				password: password
			}),
			success: function (res) {
				if(res && res.code === 200) {
					localStorage.setItem('token', 'Bearer '+res.obj.token);
					//  location.href="/admin?Authorization="+'Bearer '+res.obj.token;
					if(isMobile) {
						location.href="/centerShowPhone";
					} else {
						location.href="/centerShow";
					}

				}else {
					layui.layer.msg(res.message,{icon:2},{time:3000},function(){
						layer.close(); //再执行关闭
						location.reload();
					});
				}
			},
			error:function (res) {

			}
		});

	});
});
</script>


</body>
</html>
