<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到沙磁文旅管理平台</title>
</head>
<body>

<div class="login-box-body" id="passwordView">

        <div class="form-group has-feedback">
            <span class="glyphicon glyphicon-user form-control-feedback" title="登录账号"></span>
            <input type="text" id="username" name="username" class="form-control required"
                   data-msg-required="请填写登录账号." placeholder=""/>
        </div>
        <div class="form-group has-feedback">
                <span class="glyphicon glyphicon-lock form-control-feedback"
                      title="登录密码，鼠标按下显示密码"
                      onmousedown="$('#password').attr('type','text')"
                      onmouseup="$('#password').attr('type','password')">
                </span>
            <input type="password" id="password" name="password" class="form-control required"
                   data-msg-required="请填写登录密码." placeholder="登录密码" autocomplete="off"/>
        </div>
        <div class="form-group">
            <div class="mt5 icheck">
                <label title="公共场所慎用,下次不需要再填写帐号">
                    <input type="checkbox" name="rememberMe"   class="form-control"
                                                        data-style="minimal-grey"><span class="Remember">记住账号</span></label>
                &nbsp;
                <label title="公共场所慎用,下次不需要再填写帐号和密码">
                        <button type="text" onclick="login()" value="" class="form-control"
                                data-style="minimal-grey">立即登录</button></label>

            </div>
        </div>


    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function () {

        var system = {
            win: false,
            mac: false,
            xll: false,
            ipad: false
        };

        //检测平台
        var p = navigator.platform;
        system.win = p.indexOf("Win") == 0;
        system.mac = p.indexOf("Mac") == 0;
        system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
        system.ipad = (navigator.userAgent.match(/iPad/i) != null) ? true : false;
        if (system.win || system.mac || system.xll || system.ipad) {
            $("#footer1").css("display", "block");
            $(".denglufangshi2").css("display", "block");
        } else {
            $("#footer2").css("display", "block");
            $(".denglufangshi").css("display", "block");
            //some code;
        }

    });
    //检测用户输入数据
    function login() {
        var username = $.trim($('#username').val());
        var password = $.trim($('#password').val());
        if (null == username || 0 == username.length) {
            $("#username").val("").focus();
            alert("用户名不能为空！")
            return;
        }

        if (null == password || 0 == password.length) {
            $("#password").val("").focus();
            alert("验证码不能为空！")
            return;
        }
            $("#username").focus();
            $.ajax({
                type: "post",
                url: "/login",
                datatype:"json",
                data: ({
                    username: username,
                    password: password
                }),
                success: function (res) {
                            if(res && res.code === 200) {
                                console.log(res.obj);
                                localStorage.setItem('token', 'Bearer '+res.obj.token);
                              //  location.href="/admin?Authorization="+'Bearer '+res.obj.token;
                                location.href="/admin";
                                }else {
                                alert(res.message)
                            }
                            },
                error:function (res) {

                }
                });


    }

    function showMessage() {
        var messageElement = document.getElementById("message");

        if (sessionStorage.getItem("message") !== null) {
            messageElement.textContent = sessionStorage.getItem("message");
            alert(2)
        } else {
            messageElement.textContent = ""; // 没有登录时显示空文本
        }
    }
</script>

</body>
</html>