<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0" />
    <title>角色</title>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/style_sc.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="js/jquery.min.js"></script>

    <script type="text/javascript" src="js/plugins/spinner/ui.spinner.js"></script>
    <script type="text/javascript" src="js/plugins/spinner/jquery.mousewheel.js"></script>

    <script type="text/javascript" src="js/jquery-ui.min.js"></script>

    <script type="text/javascript" src="js/plugins/charts/excanvas.min.js"></script>
    <script type="text/javascript" src="js/plugins/charts/jquery.flot.js"></script>
    <script type="text/javascript" src="js/plugins/charts/jquery.flot.orderBars.js"></script>
    <script type="text/javascript" src="js/plugins/charts/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="js/plugins/charts/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="js/plugins/charts/jquery.sparkline.min.js"></script>

    <script type="text/javascript" src="js/plugins/forms/uniform.js"></script>
    <script type="text/javascript" src="js/plugins/forms/jquery.cleditor.js"></script>
    <script type="text/javascript" src="js/plugins/forms/jquery.validationEngine-en.js"></script>
    <script type="text/javascript" src="js/plugins/forms/jquery.validationEngine.js"></script>
    <script type="text/javascript" src="js/plugins/forms/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="js/plugins/forms/autogrowtextarea.js"></script>
    <script type="text/javascript" src="js/plugins/forms/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="js/plugins/forms/jquery.dualListBox.js"></script>
    <script type="text/javascript" src="js/plugins/forms/jquery.inputlimiter.min.js"></script>
    <script type="text/javascript" src="js/plugins/forms/chosen.jquery.min.js"></script>

    <script type="text/javascript" src="js/plugins/wizard/jquery.form.js"></script>
    <script type="text/javascript" src="js/plugins/wizard/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/plugins/wizard/jquery.form.wizard.js"></script>

    <script type="text/javascript" src="js/plugins/uploader/plupload.js"></script>
    <script type="text/javascript" src="js/plugins/uploader/plupload.html5.js"></script>
    <script type="text/javascript" src="js/plugins/uploader/plupload.html4.js"></script>
    <script type="text/javascript" src="js/plugins/uploader/jquery.plupload.queue.js"></script>

    <script type="text/javascript" src="js/plugins/tables/datatable.js"></script>
    <script type="text/javascript" src="js/plugins/tables/tablesort.min.js"></script>
    <script type="text/javascript" src="js/plugins/tables/resizable.min.js"></script>

    <script type="text/javascript" src="js/plugins/ui/jquery.tipsy.js"></script>
    <script type="text/javascript" src="js/plugins/ui/jquery.collapsible.min.js"></script>
    <script type="text/javascript" src="js/plugins/ui/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/plugins/ui/jquery.progress.js"></script>
    <script type="text/javascript" src="js/plugins/ui/jquery.timeentry.min.js"></script>
    <script type="text/javascript" src="js/plugins/ui/jquery.colorpicker.js"></script>
    <script type="text/javascript" src="js/plugins/ui/jquery.jgrowl.js"></script>
    <script type="text/javascript" src="js/plugins/ui/jquery.breadcrumbs.js"></script>
    <script type="text/javascript" src="js/plugins/ui/jquery.sourcerer.js"></script>

    <script type="text/javascript" src="js/plugins/calendar.min.js"></script>
    <script type="text/javascript" src="js/plugins/elfinder.min.js"></script>
    <script type="text/javascript" src="js/layui.js"></script>


   <!-- <script type="text/javascript" src="js/custom.js"></script>-->

   <!-- <script type="text/javascript" src="js/charts/chart.js"></script>
-->
    <!-- Shared on MafiaShare.net  --><!-- Shared on MafiaShare.net  --></head>

<body>
<div id="rightSide">
    <!-- Main content wrapper -->
    <div class="wrapper">
        <!-- Widgets -->
        <div class="widgets">
            <div class="widget">
                <div class="layui-row">
                    <form class="layui-col-md12 x-so" id="formId">
                        中文名: <input  style=" width: 20%;" type="text" name="namezh"  placeholder="中文名" autocomplete="off" class="layui-input">
                        英文名: <input  style=" width: 20%;" type="text" name="name"  placeholder="英文名" autocomplete="off" class="layui-input">

                        <div id="sousuo" class="sousuo" onclick="roleList(1)" >搜索</div>
                    </form>
                </div>
                <div class="title"><img src="images/icons/dark/stats.png" alt="" class="titleIcon"><h6>角色信息</h6>
                    <div class="formAddEmp"><input type="submit"  onclick="addMenuRoles()"  value="添加授权" class="redB"></div>
                </div>

                <table  cellpadding="0" cellspacing="0" width="100%" class="sTable">
                    <thead>
                    <tr>
                        <td width="20"><input type="checkbox" onclick="chooseAll()"></td>
                        <td width="80">编号</td>
                        <td width="80">中文名</td>
                        <td width="80">英文名</td>
                    </tr>
                    </thead>
                    <tbody id="myTable">
                    </tbody>
                </table>
            </div>

            <span class="page-new">
                <span id="pagefoot"></span></span>
            <div class="clear"></div>
        </div>


</div>
    <!-- Footer line -->
    <div id="footer">
        <div class="wrapper">Copyright © 2023 沙磁文旅版权所有 </div>
    </div>


    <div class="clear"></div>

<script type="text/javascript">
    $(function () {
        roleList(1);
    } );
    function roleList(pageNum) {

        $.ajax({
            type: "get",
            url: "/getAllRole?pageNum="+pageNum,
            headers: {
                'Authorization': localStorage.getItem("token") // 在请求头中添加token
            },
            data: $('#formId').serialize(),
            success: function (res) {
                if(res && res.code===200){
                    var data = res.obj;
                    var data1 = res.obj.list;
                    var pageNo = parseInt(res.obj.pageNum);
                    var pages = parseInt(res.obj.pages);
                    var total = parseInt(res.obj.total);
                   // 获取表格元素
                    var str_info='';
                    for (var i = 0; i < data1.length; i++) {
                        str_info+='<tr><td align="center"><input class="checkRole" type="checkbox" value="'+data1[i].id+'"></td>';
                        str_info+='<td align="center">'+data1[i].id+'</td>';
                        str_info+='<td align="center">'+data1[i].namezh+'</td>';
                        str_info+='<td align="center">'+data1[i].name+'</td></tr>';
                    }
                    $("#myTable").html(str_info);

                    pagenum0=pageNo-1;
                    pagenum1=pageNo+1;
                    pagenum2=pageNo+2;
                    pagenum3=pageNo+3;
                    var htm="<a  href='#' onclick='roleList(1)'>首页 </a>";
                    if(data.pageNum >1){
                        htm+="<a  href='#' onclick='roleList("+data.prePage+")'>上一页 </a>"
                    }
                    if(pagenum0 >=1){
                        htm+="<a  href='#' onclick='roleList("+pagenum0+")'><button style='margin: 1px 1px;border: 1px solid;'>"+pagenum0+"</button></a>"
                    }
                    htm+="<button class='current'>"+data.pageNum+"</button>";
                    if(pagenum1 <= pages){
                        htm+="<a  href='#' onclick='roleList("+pagenum1+")'><button style='margin: 1px 1px;border: 1px solid;'>"+pagenum1 +" </button></a>"
                    }
                    if(pagenum2 <= pages){
                        htm+="<a  href='#' onclick='roleList("+pagenum2+")'><button style='margin: 1px 1px;border: 1px solid;'>"+pagenum2 +" </button></a>"
                    }
                    if(pagenum3 <= pages){
                        htm+="<a  href='#' onclick='roleList("+pagenum3+")'><button style='margin: 1px 1px;border: 1px solid;'>"+pagenum3+ "</button> </a>"
                    }
                    htm+="<a  href='#' onclick='roleList("+data.nextPage+")'> 下一页</a><a  href='#' onclick='roleList("+data.pages+")'> 尾页</a><span > 共有"+data.pages+"页 </span>"
                    $("#pagefoot").html(htm);
                }

            }



        })

    }



    function dateFormat(type,utcTime) {
        var date = new Date(utcTime); // 创建Date对象
        // 获取年、月、日、小时、分钟和秒
        var year = date.getFullYear();
        var month = date.getMonth() + 1; // 月份从0开始，所以要加1
        var day = date.getDate();
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var seconds = date.getSeconds();
        // 将日期和时间组件组合成字符串
        var formatteddate = year + '-' + (month>=10?month:"0"+month) + '-' + (day>=10?day:"0"+day) ;
        var formattedTime = year + '-' + (month>=10?month:"0"+month) + '-' + (day>=10?day:"0"+day) + ' ' + (hours>=10?hours:"0"+hours) + ':'
            + (minutes>=10?minutes:"0"+minutes) + ':' + (seconds>=10?seconds:"0"+seconds);
        if(type==1){
            return formatteddate;
        }else {
            return formattedTime;
        }

    }
    function chooseAll() {
        var checkboxes = document.getElementsByClassName("checkRole");
        for (var i = 0; i < checkboxes.length; i++) {
            if(checkboxes[i].checked){
                checkboxes[i].checked=false;
            }else{
                checkboxes[i].checked= true;
            }

        }
    }
    function addMenuRoles() {
        var selectedValues = document.querySelectorAll(".checkRole:checked");
        var rids = [];
        for (var i = 0; i < selectedValues.length; i++) {
            rids.push(selectedValues[i].value);
        }
        if(rids.length==0){
            layui.layer.msg('您沒有勾选任何角色');
        }else {
            localStorage.setItem("rids",rids);
            var data = {"mids": localStorage.getItem("mids"), "rids": localStorage.getItem("rids")};
            console.log(data)
            $.ajax({
                type: "get",
                url: "/addMenuRole",
                headers: {
                    'Authorization': localStorage.getItem("token") // 在请求头中添加token
                },
                data: data,
                success: function (res) {
                    localStorage.removeItem("mids");
                    localStorage.removeItem("rids");
                    layui.layer.msg(res.message);
                    location.reload();

                }})
        }
    }



</script>
</body>
</html>